{% extends 'base.html' %} {% load static %} {% block content %}
<div class="d-flex flex-wrap align-items-center">
  <div class="col-6 p-5">
    <h2>Wellcome to MakeIt..</h2>
    <p>
      A task managing website to track you taskes. Autem aliquid nulla
      reprehenderit culpa sequi saepe porro, rerum quidem quam dignissimos
      consectetur! Eveniet a aperiam eaque, magnam quo qui beatae? Esse
      molestias quisquam beatae et iure, quia dignissimos distinctio. Eum, nemo
      distinctio? Ratione, quibusdam ut culpa corrupti nostrum numquam rerum eos
    </p>
  </div>
  <div class="col-6">
    <img
      class="img-fluid mx-auto pt-3"
      style="width: 60%; gap: -2px"
      src="{% static 'Add_tasks-bro.png' %}"
      alt=""
      srcset=""
    />
  </div>
</div>
{% endblock %}
